.app {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: 100vh;
  font-size: 2vw;
}

.app-header {
  background-color: #282c34;
  min-height: 3.5rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  color: white;
}

.app-header div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25vw;
  min-height: 100%;
  margin-right: 25px;
  /* animation: slide 3.5s ease-in infinite; */
}

.main-nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 10vw;
}

.main-nav a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 13vw;
  height: 70%;
  cursor: pointer;
  color: white;
  text-decoration: none;
}

.main-nav a:hover {
  background-color: #484e58;
  box-shadow: 2px 2px 4px #73767c;
}

.main-nav a:first-child {
  margin-right: 3vw;
}

.app-content {
  width: 100%;
  background-color: #788088;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  color: white;
  flex: 1 0 auto;
}

/* @keyframes slide {
  from {
    margin-left: 90%;
    opacity: 0;
  }
  to {
    margin-left: 0%;
    opacity: 1;
  }
} */

@media (max-width: 768px) {
  .app {
    font-size: calc(2vw + 5px);
  }

  .main-nav a {
    width: calc(20vw + 15px);
  }
}
